{% extends 'cards/base/base.html' %}

{% load static %}

{% block title %}
Portal
{% endblock %}

{% block css_file%}

<link rel="stylesheet" href="{% static 'cards/css/details.css' %}">
<link rel="stylesheet" href="{% static 'cards/css/index.css' %}">
{% endblock %}

{% block content %}


<section class="text-center">
  <div class="position-relative overflow-hidden m-md-2 text-center">
    <div id="cards" class="row">

      {% for card in cards %}
      {% include "cards/includes/details.html" %}
      {% endfor %}

    </div>
  </div>
</section>


{% endblock %}