{% extends 'cards/base/base.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block css_file%}

<link rel="stylesheet" href="{% static 'cards/details.css' %}">
<link rel="stylesheet" href="{% static 'cards/index.css' %}">
{% endblock %}


{% block content %}


<section class="my-5 text-center">
    <div class="container">
      <div class="row">

        {% for card in object_list %}
               {% include "cards/includes/details.html" %}
            {% endfor %}

      </div>
    </div>
  </section>



{% endblock %}